* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  background-color: #152850;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.playlist-container {
  width: 50%;
  text-align: center;
}

.playlist-heading {
  font-size: 32px;
  margin-bottom: 20px;
}

.search-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
}

.tracks-list {
  list-style-type: none;
  padding: 0;
}

.track-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #cbd5e1;
  padding-bottom: 10px;
}

.track-image {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.track-details {
  flex-grow: 1;
}

.track-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.track-genre {
  font-size: 14px;
  color: #cbd5e1;
}

.track-duration {
  font-size: 14px;
}

.delete-button {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.no-songs-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-songs-image {
  width: 150px;
  margin-bottom: 10px;
}

.no-songs-text {
  font-size: 18px;
}
